html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "text", arial;
  font-weight: 500;
}
.marker {
  position: relative;
  top: -54px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
}
form {
  margin: 0;
}
fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
address {
  font-style: inherit;
}
p {
  margin: 0;
}
figure,
figcaption {
  margin: 0;
}
ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
span {
  font-family: "Oswald", sans-serif;
}
button {
  font-family: "Oswald", sans-serif;
  display: block;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

input {
  border: inherit;
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: "logo";
  src: url(media/logo.woff) format("woff"),
    url(media/logo.woff2) format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "text";
  src: url(media/text.woff) format("woff"),
    url(media/text.woff2) format("woff2");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

.logo {
  font-family: "logo", Arial, Helvetica, sans-serif;
  color: #ececec;
  text-transform: uppercase;
  font-size: 109px;
}
.header {
  background-image: url(media/bg.png);
  max-width: 100vw;
  height: 746px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.header__info {
  height: 100%;
  max-width: 960px;
  width: 100%;
  margin-left: auto;
  display: flex;
  align-items: center;
  padding: 0 20px;
  /* justify-content: center; */
  flex-direction: column;
}
.header__logo {
  margin-top: 72px;
}
.header__title {
  font-size: 50px;
  line-height: 1.19;
  letter-spacing: -1.12px;
  /* text-align: center; */
  color: #ececec;
  text-align: center;
  margin-bottom: 65px;
}
.progress {
  max-width: 762px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap: 20px; */
}
.progress-text {
  color: #ececec;
  font-size: 25px;
}
.progress-bar {
  max-width: 762px;
  width: 100%;
  border-radius: 34px;
  background-color: rgba(256, 256, 256, 0.2);
  height: 68px;
  margin: 16px 0 23px 0;
  position: relative;
  overflow: hidden;
}
@keyframes fillProgressBar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.progress-bar > span {
  transition: 0.4s all; /* можно оставить для других переходов */
  background-color: #b58154;
  border-radius: 34px;
  position: absolute;
  width: 0%; /* начальное значение для анимации */
  height: 100%;
  animation: fillProgressBar 2s ease-in-out forwards; /* анимация */
}
.progress-prices {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.progress-prices span {
  color: #ececec;
  font-size: 25px;
}
.header__link {
  margin-top: 35px;
}

.link {
  height: 81px;
  border-radius: 40.5px;
  background-color: #b58154;
  padding: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  color: #ececec;
  max-width: 406px;
  width: 100%;
  text-transform: uppercase;
}
.info {
  padding: 100px 0;
  background-color: #ececec;
}
.container {
  max-width: 1090px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}
.info__container {
}
.info__title {
  font-size: 55.5px;
  text-align: center;
  margin-bottom: 60px;
  color: #1b1c1d;
  letter-spacing: -1.11px;
}
.info__text {
  color: #1b1c1d;
  font-size: 35px;
  text-align: center;
  letter-spacing: -0.7px;
}
.video {
  padding: 20px 0;
  height: 623px;
  background-color: #000;
}
.video video {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  /* padding: 20px 0; */
}
.container {
}
.video__container {
  height: 100%;
}

.video__wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}
.info__link {
  background-color: #505152;
  max-width: 100%;
  text-transform: lowercase;
  width: auto;
  margin: 20px auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 37px;
  max-width: none;
}

.prize {
  min-height: 100vh;
  max-width: 100vw;
  width: 100%;
  background-image: url(media/bg-2.png);
  background-size: cover;
  background-position: no-repeat;
  background-position: center;
}

.prize__container {
}

.prize__inner {
  margin-left: auto;
  margin-right: 10%;
  padding-top: 71px;
  max-width: 675px;
  width: 100%;
  padding-bottom: 50px;
  /* font-size: 24px; */
}
.prize__title {
  font-size: 55.5px;
  line-height: 0.96;
  letter-spacing: -1.11px;
  text-align: left;
  color: #ececec;
  margin-bottom: 61px;
}
.prize__text {
  line-height: 1.35;
  letter-spacing: -0.48px;
  color: #ececec;
  font-size: 24px;
  margin-bottom: 75px;
}
.prize__list {
  flex-direction: column;
  display: flex;
  gap: 57px 0;
  /* margin-bottom: 30px; */
}
.prize__list-item {
  line-height: 1.35;
  letter-spacing: -0.48px;
  color: #ececec;
  font-size: 24px;
}

.prize__list-item {
  opacity: 0; /* Элемент невидим по умолчанию */
  transform: translateY(20px); /* Смещение вниз для эффекта */
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.prize__list-item.visible {
  opacity: 1;
  transform: translateY(0); /* Возвращаем элемент на место */
}

.best {
  padding: 100px 0;
  background-color: #ececec;
}
.container {
}
.best__container {
}
.best__title {
  font-size: 55.5px;
  text-align: center;
  line-height: 0.96;
  letter-spacing: -1.11px;

  color: #1b1c1d;
  text-align: center;

  margin-bottom: 71px;
}
.best__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 100px 50px;
}
.best__inner-item {
  height: 350px;
  flex: 1 1 calc(50% - 50px);
}
.block {
  padding: 100px 0;
  background-color: black;
}
.block__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer {
  padding: 100px 0;
  background-color: #ddd;
}
.container {
}
.footer__container {
  display: flex;
  justify-content: space-between;
  gap: 0 30px;
}
.footer__item {
  flex: 1 1 calc(33% - 30px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px 0;
}
.footer__logo {
  height: 100px;
  line-height: 100px;
  /* width: 100%; */
  width: 60%;
  position: relative;
}
.footer__logo.logo {
  width: 100%;
  text-align: center;
  position: relative;
  /* height: 100px; */
  line-height: 100px;
  font-size: 80px;
  color: #1b1c1d;
}
.footer__logo > img {
  object-fit: contain;
  object-position: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
.logo {
}
.footer__btn {
}
.footer__btn {
  background-color: #505152;

  text-transform: lowercase;

  /* display: flex;
  align-items: center;
  justify-content: center; */
  height: auto;
  padding: 10px 20px;
  font-size: 18px;

  max-width: none;
}
@media screen and (max-width: 1024px) {
  .footer {
    padding: 50px 0;
  }
  .footer__container {
    flex-wrap: wrap;
    gap: 30px 0;
  }

  .header {
    background-image: url(media/small-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 500px;
    height: 550px;
  }
  .header__title {
    font-size: 36px;
    margin-bottom: 30px;
  }
  .header__logo {
    font-size: 70px;
  }
  .link {
    padding: 18px;
    height: auto;
    font-size: 28px;
  }
  .info,
  .best,
  .block {
    padding: 50px 0;
  }
  .info__title {
    font-size: 38px;
    margin-bottom: 30px;
  }
  .info__text {
    font-size: 26px;
  }
  .video {
    height: 500px;
  }
  .prize {
    background-image: url(media/bg2-small.png);
  }
  .prize__inner {
    margin: 0 auto;
    padding: 30px 20px;
  }
  /* .prize__list{
    gap: 20px 0;
  } */
  .prize__title,
  .prize__text,
  .prize__list-item {
    text-align: center;
  }
  .footer__btn {
    background-color: #505152;

    text-transform: lowercase;

    /* display: flex;
    align-items: center;
    justify-content: center; */
    height: auto;
    padding: 10px 20px;
    font-size: 18px;

    max-width: 300px;
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .best__title {
    font-size: 38px;
  }
  .best__inner {
    gap: 40px 0;
  }
  .best__inner-item {
    height: 250px;
    flex: 1 1 100%;
  }
  .prize__title {
    font-size: 38px;
  }
  .progress-prices span {
    font-size: 18px;
  }
  .progress-text {
    font-size: 18px;
  }
  .info__title {
    font-size: 28px;
    margin-bottom: 30px;
  }
  .info__text {
    font-size: 18px;
  }
  .header__title {
    font-size: 28px;
  }
  .progress-bar {
    height: 40px;
  }
  .link {
    padding: 10px;
    height: auto;
    font-size: 18px;
  }
  .container {
    padding: 0 10px;
  }
}
